<h1>Hello, Scrabble master.</h1>
<h3>So you can't add up your own Scrabble score, eh?</h3>

<form action="/score">
  <div class="form-group">

  <label for="word">What word would you like to have scored?</label>
  <input id="word" name="word" class="form-control" type="text">

  </div>

  <button type="submit" class="btn-danger">Scrabble me!</button>
</form>
